@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');



* {
    box-sizing: border-box;
}



:root{
    --primary-color: #F2C94C;
    --text-color:#333333;  
    --width-break: 600px;    
}

body{
    font-family: 'Kalam', cursive;
    margin:0;
    color:var(--text-color); 

}


.header{    
    background-color : var(--primary-color);    
}

#btn-translate{
    border:none;
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    background-color:var(--primary-color);
    font:inherit;
    font-size:large;
}

.main{
    box-sizing:border-box;
    max-width:var(--width-break);
    margin:auto;
    padding:1rem;

}

footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:var(--primary-color);
    text-align:center;
    padding:1rem;
}

footer p{
    max-width: var(--width-break); 
    margin:auto;   
}
